{% load static %}
{% load i18n %}
<!doctype html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G48ZK79ZVS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-G48ZK79ZVS');
  </script>
  
  <style>html{visibility: hidden;opacity:0;}</style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- 共通設定 -->
    <meta property="og:title" content="Kageori Lab">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://kageori.pythonanywhere.com">
    <meta property="og:image" content="https://kageori.pythonanywhere.com/static/img/top.png?1">
    <meta property="og:site_name" content="Kageori Lab">
    <meta property="og:description" content="This is Kageori's portfolio site.">
    <meta property="og:locale" content="ja_JP">
    <!-- /共通設定 -->
    
    <!-- Facebookの設定 -->
    <meta property="fb:app_id" content="1064577011127231">
    <!-- /Facebookの設定 -->
    
    <!-- Twitterの設定 -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@kageori_ar">
    <!-- /Twitterの設定 -->
  <title>{% block title %}Kageori Lab{% endblock %}</title>
  <link rel="icon" sizes="16x16" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="icon" sizes="32x32" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="icon" sizes="48x48" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="icon" sizes="62x62" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
<header id="header-id" class="header_container">
<!-- The overlay -->
<div id="myNav" class="overlay">

  <!-- Button to close the overlay navigation -->
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <!-- Overlay content -->
  <div id="header-id2" class="overlay-content">
    <a href="/" onclick="closeNav()">Top</a>
    <!-- <a href="/information_list" onclick="closeNav()">News</a> -->
    <a href="/works_list" onclick="closeNav()">Works</a>
    <a href="/#profile" onclick="closeNav()">Profile</a>
    <a href="/statement" onclick="closeNav()" class="menu-sub-title">Statement</a>
    <a href="/cv" onclick="closeNav()" class="menu-sub-title">Past activities</a>
    <a href="https://www.kageori.com/" onclick="closeNav()" class="menu-sub-title">Blog</a>
    <a href="/contact" onclick="closeNav()">Contact</a>
  </div>
</div>

<!-- Use any element to open/show the overlay navigation menu -->
<div class="header_buttons"><span onclick="openNav()"><i class="material-icons md-55">menu</i></span></div>
<div class="header_buttons">
<form action="{% url 'set_language' %}" method="post">
  {% csrf_token %}
  {% get_current_language as LANGUAGE_CODE %}
  {% get_available_languages as LANGUAGES %}
  {% get_language_info_list for LANGUAGES as languages %}
  {% for language in languages %}
    {% if language.code != LANGUAGE_CODE %}
      <button class="lang_btn" type="submit" name="language" value="{{ language.code }}">
        <span class="material-icons lang_mark">language</span>
        {{ language.name_local }}
      </button>
    {% endif %}
  {% endfor %}
</form>
</div>
</header>
<html>

<body>
  {% load google_analytics_tags %}
  <div style="display:none">
    <img src="{% google_analytics %}" width="0" height="0" />
  </div>
  <main class="content">
      {% block content %}
      {% endblock %}
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/app.js' %}"></script>
</body>
<footer>
  <div>
    <ul>
      <li class="social-icon" >
        <a href="https://twitter.com/kageori_ar" ><img src="{% static 'img/twitter.png' %}" alt="Twitter"></a>
      </li>
      <li class="social-icon" >
        <a href="https://www.instagram.com/kageori_ar/"><img src="{% static 'img/instagram.png' %}" alt="Instagram"></a>
      </li>
      <li class="social-icon" >
        <a href="https://www.facebook.com/kageori.ar"><img src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
      </li class="social-icon">
      <li class="social-icon" >
        <a href="https://www.kageori.com/"><img src="{% static 'img/blogger.png' %}" alt="Blogger"></a>
      </li>
    </ul>
  </div>
  <div>
    <p>©︎ {% now "Y" %} Kageori Kiyoshige</p>
  </div>
</footer>
<style>html{visibility: visible;opacity:1;}</style>
</html>