{% extends "base.html" %}
{% load i18n %}
{% block content %}
<section id="contact_result">
<div class="section-container">
    <div>
        {{ success }}
    </div>
    <div class="flex-container">
        <a href="/" class="stitch-button">
            <div>
                <span>{% trans "ホームに戻る" %}</span>
            </div>
        </a>
    </div>
    </div>
</section>

{% endblock %}