{% extends 'base.html' %}
{% load i18n %}
{% block content %}

  <section id="top">
  </section>
  <!-- <section id="information">
    <div class="section-container">
    <h1>NEWS</h1>
    <ul class="index_information_ul">
      {% for information in information_list %}
        <li>
          <div>{{ information.published_at|date:"Y-m-d" }}</div>
          <div>{{ information.title }}</div> 
        </li>
      {% endfor %}
    </ul>
    <div class="more-button-div">
      <a href="information_list" class="more-button">
        <div>
          <span>More...</span>
        </div>
      </a>
    </div>
    </div>
  </section> -->
  <section id="works">
    <div class="section-container">
    <h1>Works</h1>
      <ul class="works_ul">
    {% for work in object_list %}
        <li>
          <a href="work/{{ work.slug }}">
            <img class="work-img" src="media/{{ work.thumbnail_1 }}" width="100%"/>
            <div class="works_caption">
              <div>
                <h5>{{ work.title }}</h5> 
                <small>({{ work.production_year }})</small> 
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
      </ul>
      <div class="more-button-div">
      <a href="works_list" class="more-button">
        <div>
          <span>More...</span>
        </div>
      </a>
    </div>
    </div>
  </section>
  <section id="profile">
    <div class="section-container">
    <hr>
    <h1>Profile</h1>
    <div class="profile-name">
      <h3>{% trans "清重 影織" %}</h3><div>{% trans "きよしげ かげおり" %}</div>
    </div>
    <br>
    <p>{% trans "1992年東京生まれ。" %}<br>{% trans "東京大学教養学部卒業。" %}</p>
    <p>{% trans "大学図書館に2年間勤めた後、未経験からバックエンドエンジニアに転向。" %}<br>{% trans "さらに2年後に独立し、現在は" %}<br><br><i>{% trans "空想と現実を行き来するアーティスト" %}<br>{% trans "心の安全基地を作り、魂の望む自己表現へと導くガイド" %}</i><br><br>{% trans "として、制作・コーチングをしながら精力的に活動中。" %}</p>  
      <p>
        Twitter : <a href="https://twitter.com/kageori_ar">@kageori_ar</a><br>
        Instagram : <a href="https://www.instagram.com/kageori_ar/">@kageori_ar</a><br>
        Facebook : <a href="https://www.facebook.com/kageori.ar">{% trans "清重影織" %}</a><br>
    <div class="flex-container">
      <a href="statement" class="stitch-button">
        <div class="">
          <span>{% trans "ステートメント" %}</span>
        </div>
      </a>
    </div>
    <div class="flex-container">
      <a href="cv" class="stitch-button">
        <div class="">
          {% trans "過去の活動" %}
        </div>
      </a>
    </div>
    <div class="flex-container">
      <a href="https://www.kageori.com/" class="stitch-button">
        <div class="">
          <span>{% trans "ブログ 「影織文庫」" %}</span>
        </div>
      </a>
    </div>
   </div> 
  </section>
  <section id="contact">
  <div class="section-container">
    <hr>
    <h1>Contact</h1>
    <div class="flex-container">
    <p>{% trans "お気軽にお問い合わせください。" %}</p> 
    </div>
     <div class="flex-container">
      <a href="contact" class="stitch-button">
        <div class="">
          <span>{% trans "お問い合わせフォーム" %}</span>
        </div>
      </a>
    </div>
    </div>  
  </section>
{% endblock %}