{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <section>
    <div class="section-container">
        <h1>{% trans "ステートメント" %}</h1>
                
        <h3>{% trans "物語を届け、世界を照らす" %}</h3>
        <p>{% trans "色を塗り重ねていく絵画と異なり、切り絵は一枚の紙を切り抜いて表現する<b>「引き算の芸術」</b>である。それを用いて、雑多な世界の中から一つの物語を切り出すことを試みている。" %}</p>
        <p>{% trans "さらに、<b>ARやVR技術</b>を用い、物語を実際に目で見たり触れたりしながら、より深く楽しめるように意図している。<br>" %}</p>
        <p>{% trans "こうした表現媒体を用い、心をテーマにした童話作品と切り絵を組み合わせた「切絵童話」を紡ぎ、読み手の心を暖め、前向きに生きる希望を抱けるような作品を作っている。<br>" %}</p>
        <p>{% trans "また、歴史資料の持つストーリーや偉人の逸話などを、AR技術を用いて楽しみながら分かりやすく学べる作品を生み出し、知的好奇心を満たす喜びや楽しさを伝えている。<br><br>" %}</p>

        <h3>{% trans "誰もが安心して自由に自己表現できるように導く" %}</h3>
        <p>{% trans "素敵なアイデアを自由に思い描くのは、心の仕事。<br>それを現実化するために具体的に段取りを考えるのは、頭の仕事。<br>" %}</p>
        <p>{% trans "<b>そのままの自分で表現するための自由な心のあり方</b>と、<b>描いたアイデアを自由に具現化する技術やノウハウ</b>の両面を伝えることで、自分と同じく表現者として生きようとする人をサポートする。" %}</p>    
</div>
</section>
{% endblock %}


