{% extends 'base.html' %}

{% block content %}
<section>
  <div class="section-container">
  <h1>Works</h1>
  <h5>Tags</h5>
  <div class="work_tag_column tags_list">
    {% for tag in tag_list.all %}  
    <a href="{% url 'core:work_tag' tag.name %}"><div class="work_tag">{{ tag.name }}</div></a>
    {% endfor %}
  </div>
    <ul class="works_ul">
      {% if filtered_works %}
        {% for work in filtered_works %}
        <li>
            <div class="work_tag_column">
              {% for tag in work.tag.all %}  
              <div class="work_tag">{{ tag.name }}</div>
              {% endfor %}
            </div>
            <a href="../work/{{ work.slug }}">
            <img class="work-img" src="/media/{{ work.thumbnail_1 }}"  width="100%"/>
            <div class="works_caption">
              <div>
                <h5>{% autoescape off %}{{ work.title }}{% endautoescape %}</h5> 
                <small>({{ work.production_year }})</small> 
              </div>
            </div>
          </a>
        </li>
        {% empty %}
        <li>まだ投稿はありません。</li>
        {% endfor %}
      {% else %}
        {% for work in object_list %}
          <li>
              <div class="work_tag_column">
                {% for tag in work.tag.all %}  
                <div class="work_tag">{{ tag.name }}</div>
                {% endfor %}
              </div>
              <a href="../work/{{ work.slug }}">
              <img class="work-img" src="/media/{{ work.thumbnail_1 }}"  width="100%"/>
              <div class="works_caption">
                <div>
                  <h5>{% autoescape off %}{{ work.title }}{% endautoescape %}</h5> 
                  <small>({{ work.production_year }})</small> 
                </div>
              </div>
            </a>
          </li>
        {% empty %}
        <li>まだ投稿はありません。</li>
        {% endfor %}
      </ul>
      {% endif %}

  {% if is_paginated %}
  <nav>
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"><</a>
    {% endif %}

    {% for num in paginator.page_range %}
    {% if page_obj.number == num %}
    <span>{{ num }}</span>
    {% else %}
    <a href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">></a>
    {% endif %}
  </nav>
  {% endif %}
  </div>
</section>  
{% endblock %}